name: NuGet Publish

on:
  release:
    types:
      - published

jobs:
  nuget:
    defaults:
      run:
        shell: bash
    environment: NuGet
    runs-on: ubuntu-latest
    steps:
      - name: Checking out the repository
        uses: actions/checkout@v3

      - name: Setting up dotnet
        uses: actions/setup-dotnet@v3.0.3

      - name: Installing dependencies
        run: dotnet restore

      - name: Building the project
        run: dotnet build --configuration Release --no-restore

      - name: Packing NuGet package
        run: pwsh ./scripts/pack.ps1 -Version "${{ github.event.release.tag_name }}"

      - name: Publishing NuGet package
        run: dotnet nuget push ./artifacts/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
