name: Publish NuGet package

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      NUGET_API_KEY:
        description: "Nuget API key"
        required: true

jobs:
  nuget:
    defaults:
      run:
        shell: bash
    environment: NuGet
    runs-on: ubuntu-latest
    steps:
      - name: Checking out the repository
        uses: actions/checkout@v3.3.0

      - name: Setting up dotnet
        uses: actions/setup-dotnet@v3.0.3

      - name: Restoring the solution
        run: dotnet restore

      - name: Creating NuGet packages
        shell: pwsh
        run: ./scripts/pack.ps1 -Version '${{ github.event.release.tag_name }}' -Configuration Release

      - name: Publishing NuGet packages
        run: dotnet nuget push ./artifacts/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
