name: Test

on:
  workflow_call:

jobs:
  local:
    strategy:
      matrix:
        configuration: [Debug, Release]
        os: [ubuntu-24.04, windows-2022, macos-14]
    runs-on: ${{ matrix.os }}
    env:
      MINIMALAPIBUILDER_TEST_TYPE: Local
    name: Local ${{ matrix.os }} (${{ matrix.configuration }})
    steps:
      - name: Allowing git long paths
        run: git config --global core.longpaths true

      - name: Checking out the repository
        uses: actions/checkout@v4.2.1

      - name: Setting up dotnet
        uses: actions/setup-dotnet@v4.0.1

      - name: Restoring the solution
        run: dotnet restore

      - name: Building the solution
        run: dotnet build --no-restore --configuration ${{ matrix.configuration }}

      - name: Running tests
        run: dotnet test --no-build --no-restore --configuration ${{ matrix.configuration }}

  local-no-intrinsic:
    strategy:
      matrix:
        configuration: [Debug, Release]
        os: [ubuntu-24.04, windows-2022, macos-14]
    runs-on: ${{ matrix.os }}
    env:
      MINIMALAPIBUILDER_TEST_TYPE: Local
      DOTNET_EnableHWIntrinsic: 0
    name: Local no intrinsic ${{ matrix.os }} (${{ matrix.configuration }})
    steps:
      - name: Allowing git long paths
        run: git config --global core.longpaths true

      - name: Checking out the repository
        uses: actions/checkout@v4.2.1

      - name: Setting up dotnet
        uses: actions/setup-dotnet@v4.0.1

      - name: Restoring the solution
        run: dotnet restore

      - name: Building the solution
        run: dotnet build --no-restore --configuration ${{ matrix.configuration }}

      - name: Running tests
        run: dotnet test --no-build --no-restore --configuration ${{ matrix.configuration }}

  publish:
    strategy:
      fail-fast: false
      matrix:
        configuration: [Debug, Release]
        os: [ubuntu-24.04, windows-2022, macos-14]
    runs-on: ${{ matrix.os }}
    env:
      MINIMALAPIBUILDER_TEST_TYPE: Published
      MINIMALAPIBUILDER_VERSION: 1.0.0-ci-published
    name: Published ${{ matrix.os }} (${{ matrix.configuration }})
    steps:
      - name: Allowing git long paths
        run: git config --global core.longpaths true

      - name: Checking out the repository
        uses: actions/checkout@v4.2.1

      - name: Setting up dotnet
        uses: actions/setup-dotnet@v4.0.1

      - name: Restoring src
        run: dotnet restore MinimalApiBuilder.src.slnf

      - name: Creating NuGet packages
        shell: pwsh
        run: ./scripts/pack.ps1 -Version $env:MINIMALAPIBUILDER_VERSION -Configuration ${{ matrix.configuration }}

      - name: Restoring tests with local packages
        run: dotnet restore MinimalApiBuilder.tests.slnf  --packages packages --configfile NuGet.IntegrationTest.config

      - name: Building tests
        run: dotnet build MinimalApiBuilder.tests.slnf --packages packages --no-restore --configuration ${{ matrix.configuration }}

      - name: Running tests
        run: dotnet test MinimalApiBuilder.tests.slnf --no-build --no-restore --configuration ${{ matrix.configuration }}
