name: Test

on:
  workflow_call:

jobs:
  local:
    strategy:
      matrix:
        configuration: [Debug, Release]
        os: [ubuntu-22.04, windows-2022, macos-12]
    runs-on: ${{ matrix.os }}
    env:
      MINIMALAPIBUILDER_TEST_TYPE: Local
    name: Local ${{ matrix.os }} (${{ matrix.configuration }})
    steps:
      - name: Allowing git long paths
        run: git config --global core.longpaths true

      - name: Checking out the repository
        uses: actions/checkout@v3.5.2

      - name: Setting up dotnet
        uses: actions/setup-dotnet@v3.0.3

      - name: Restoring the solution
        run: dotnet restore

      - name: Building the solution
        run: dotnet build --no-restore --configuration ${{ matrix.configuration }}

      - name: Running tests
        run: dotnet test --no-build --no-restore --configuration ${{ matrix.configuration }}

  publish:
    strategy:
      fail-fast: false
      matrix:
        configuration: [Debug, Release]
        os: [ubuntu-22.04, windows-2022, macos-12]
        assign_name: [true, false]
    runs-on: ${{ matrix.os }}
    env:
      MINIMALAPIBUILDER_TEST_TYPE: Published
      MINIMALAPIBUILDER_VERSION: 1.0.0-ci-published
    name: Published ${{ matrix.os }} (${{ matrix.configuration }}) (assign_name = ${{ matrix.assign_name }})
    steps:
      - name: Allowing git long paths
        run: git config --global core.longpaths true

      - name: Checking out the repository
        uses: actions/checkout@v3.5.2

      - name: Setting up dotnet
        uses: actions/setup-dotnet@v3.0.3

      - name: Restoring src
        run: dotnet restore MinimalApiBuilder.src.slnf

      - name: Creating NuGet packages
        shell: pwsh
        run: ./scripts/pack.ps1 -Version $env:MINIMALAPIBUILDER_VERSION -Configuration ${{ matrix.configuration }}

      - name: Restoring tests with local packages
        run: dotnet restore MinimalApiBuilder.tests.slnf  --packages packages --configfile NuGet.IntegrationTest.config

      - name: Building tests
        run: dotnet build MinimalApiBuilder.tests.slnf --packages packages --no-restore --configuration ${{ matrix.configuration }} -p:minimalapibuilder_assign_name_to_endpoint=${{ matrix.assign_name }}

      - name: Running tests
        run: dotnet test MinimalApiBuilder.tests.slnf --no-build --no-restore --configuration ${{ matrix.configuration }}
